:root{
    --yellow: #fae100;
    /* yellow 색상을 새롭게 정의함 */
    --horizontal-space: 25px;
    /* Friends.html에서 Friends라인에 맞춰주기 */
    --main-border: 1px solid rgba(0,0,0,0.2)
    /* 가로 라인 긋는걸 자주하기 때문에 만듬 */
}