.find-icons{
    display: flex;
    justify-content: space-between;
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    /* flex-direction: row는 가로; column은 세로 큐알 쪽 아이콘과 글이 세로배치*/
    align-items: center;
}

.find-icons__icon i{
    font-size: 35px;
    margin-bottom: 15px;
}

.find-icons span{
    margin-bottom: 15px;
}

.recommended-find{
    padding: 15px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-find__title{
    font-size: 12px;
    color: rgba(0,0,0,0.3);
    counter-increment: rint;
}

.recommended-find__title::before{
    content: counter(rint) ".";
}

.recommended-find__title::after{
    content:" - " attr(data-page) "page";
}

.recommended-find__title::first-letter{
    font-size: 3em;
}

.recommended-find span{
    margin: 50px 0;
    display: block;
    text-align: center;
    font-size:18px;
    color: rgba(0,0,0,0.5);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    /* 컬러가 아니라 opacity로 한 이유는 컬러변경하기 싫어서. */
    margin-bottom: 25px;
}

.open-chat__header span{
    opacity: 0.6;
}

.open-post__members{
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-post__members img{
    width: 375px;
    height: 375px;
}

.open-post__title{
    margin-bottom: 10px;
}
