.badge{
    /* position absolute는 가까운 relative에 반응함(아빠~) */
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    color:white;
    /* position absolute하면 .nav__link */
    font-weight: 600;
}